.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.container__button {
  width: 340px;
  height: 68px;
  border-radius: 84px;
  background: linear-gradient(180deg, #FFFFFF -13.5%, rgba(243, 247, 239, 0) 187.91%);
  box-shadow: 0px 0px 21px 7px #00000057;
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  color: #2F2A37;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}


.container__button:hover {
  transform: scale(1.02);
}

.container__button:active {
  border: 3px solid #2F2A37;
}

.card_container {
  width: 600px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 21px 7px #00000057;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_container__title {
  font-family: Arial;
  font-size: 36px;
  font-weight: 600;
  color: #2F2A37;
}

.card_container__info {
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
  color: #2F2A37;
  text-align: center;
}

.card_container__img {
  width: 580px;
  border-radius: 6px;
}